<!-- index.html -->
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Secure Python Server</title>
  </head>
  <body>
      <h1>Welcome to the Secure Python Server</h1>
      <div class="container">
        <label for="input_data">CMD: </label>
        <input type="text" id="input_data" name="input_data" required>
        <input id="sendbtn" type="submit" value="Send" onclick="submitForm()">
        <div id="output" class="container">
        </div>
      </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
